<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="icon"
      href="../../assets/img/icons/foundation-favicon.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css"
      rel="stylesheet"
    />
    <title>My Password Reset Template Email Template Subject</title>
  </head>
  <body>
    <span class="preheader"></span>

    <table class="body">
      <tr>
        <td align="center" class="center" valign="top">
          <center data-parsed="">
            <style class="float-center" type="text/css">
              body, html, .body { background: #f3f3f3 !important; } .header {
              background: #f3f3f3; }
            </style><!-- move the above styles into your custom stylesheet -->
            <table class="spacer float-center">
              <tbody>
                <tr>
                  <td
                    height="16px"
                    style="font-size:16px;line-height:16px;"
                  >&#xA0;</td>
                </tr>
              </tbody>
            </table>
            <table align="center" class="container float-center">
              <tbody>
                <tr>
                  <td>
                    <table class="row header">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td
                                          height="16px"
                                          style="font-size:16px;line-height:16px;"
                                        >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h4 class="text-center">Party Mode</h4>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table>
                              <tr>
                                <th>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td
                                          height="32px"
                                          style="font-size:32px;line-height:32px;"
                                        >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <center data-parsed="">
                                    <img
                                      align="center"
                                      class="float-center"
                                      src="https://firebasestorage.googleapis.com/v0/b/blog-f93fe.appspot.com/o/WhatsApp%20Image%202022-09-22%20at%2011.52.02%20AM.jpeg?alt=media&token=1b032812-467d-42c5-8b28-be626949a814"
                                    />
                                  </center>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td
                                          height="16px"
                                          style="font-size:16px;line-height:16px;"
                                        >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h1 class="text-center">Forgot Your Password?</h1>
                                  <table class="spacer">
                                    <tbody>
                                      <tr>
                                        <td
                                          height="16px"
                                          style="font-size:16px;line-height:16px;"
                                        >&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center">It happens. Click the
                                    link below to reset your password.</p>
                                  <table class="button large expand">
                                    <tr>
                                      <td>
                                        <table>
                                          <tr>
                                            <td>
                                              <center data-parsed="">
                                                <a
                                                  class="float-center"
                                                  href="#"
                                                >Reset Password</a>
                                              </center>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                  <hr />
                                  <p><small>You're getting this email because
                                      you've signed up for email updates. If you
                                      want to opt-out of future emails,
                                      <a href="#">unsubscribe here</a>.</small></p>
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="spacer">
                      <tbody>
                        <tr>
                          <td
                            height="16px"
                            style="font-size:16px;line-height:16px;"
                          >&#xA0;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>

    <!-- prevent Gmail on iOS font size manipulation -->
    <div
      style="display:none; white-space:nowrap; font:15px courier; line-height:0;"
    >
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
  </body>
</html>